/* styles.css */

/* Game container */
.game-container {
  position: relative;
  width: 100%;
  height: 110vh;
   background-image: url('./banner-image.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Banner styles */
.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

/* Score and time display */
#score {
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 4em; /* Adjust the font size as needed */
}

#time {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 4em;
}



/* Bubble styles */
.bubble {
  position: absolute;
  font-size: 2em;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
  padding: 10px;
  border-radius: 50%;
  user-select: none;
}

.bad-bubble {
  /* Style for bad bubbles */
  background-color: black;
  color: red;
}

.bubble:hover {
  transform: scale(1.2);
}

/* Animation for shrinking and fading */
@keyframes shrinkAndFade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.bubble-pink {
  background-color: pink;
  color: white;
}

.bubble-green {
  background-color: green;
  color: white;
}

.bubble-yellow {
  background-color: yellow;
  color: black;
}

.bubble-purple {
  background-color: purple;
  color: white;
}

/* Score and time display */
#score, #time {
  margin: 10px;
  font-size: 1.2em;
}

